* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: rubik;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 47px 25px;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* =================================navone start=========================== */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__ulone {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.nav__ultwo {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}
.btn{
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
border-radius: 5px;
border: #1E96C8 solid 2px;
color: #fff;
}

.btn:hover{
  border-color: #fff;
  color: #000000;
}
.nav__ultwo--list--linkfour--ul {
  display: flex;
  align-items: center;
}
.linkfive--ul {
  display: flex;
}
.nav__ulone--listone {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #295091;
}
.nav__ulone--listtvo {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}

.nav__div {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  width: 1200px;
  height: 68px;
  margin-top: 40px;
}
.nav__div--text {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  padding-top: 20px;
  text-align: center;
}
.nav__img {
  position: absolute;
  width: 1200px;
  height: 99px;
  top: 210px;

  border: 1px solid #e0e0e0;
}

.hero__title {
  width: 1200px;
  height: 133px;
  background: #f6f6f9;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: -30px;
}
.hero__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carona {
  width: 232px;
  height: 50px;
  left: 222px;
  top: 396px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}
.list__ul {
  display: flex;
  align-items: center;
  padding-top: 43px;
}
.infi {
  width: 161px;
  height: 52px;
  left: 611px;
  top: 395px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #db0000;
  padding-left: 20px;
}
.vizdo {
  width: 161px;
  height: 52px;
  left: 902px;
  top: 395px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #05b135;
  padding-left: 20px;
}
.umerli {
  width: 161px;
  height: 52px;
  left: 1158px;
  top: 395px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 20px;
}
.heroone__title--ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.rasm {
  width: 386px;
  padding-top: 15px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.sana {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}
.listtwo__ul {
  padding-top: 15px;
}
.herotwo__title {
  width: 1200px;
  height: 91px;
  left: 119px;
  top: 1103px;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
}
.herotwo__title--ul {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 20px;
}
.herotwo__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
}
.herotwo__btn {
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 8px;
  border: none;
}
.list__btn {
  padding-left: 200px;
}

.herotwo__btn:hover {
  border: orangered;
  color:rgb(0, 0, 0);
  background-color: #FFFFFF;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 38px;
  color: #000000;
}
.section__titleone {
  width: 780px;
  height: 1039px;
}
.section__titletwo {
  width: 390px;
  height: 1039px;
  background: #f6f6f9;
  border-radius: 5px;
}
.orovchidiv {
  display: flex;
  justify-content: space-between;
}
.titleone__ul--ul {
  display: flex;
  padding-top: 18px;
}
.ul__ul--ul {
  padding-left: 19px;
}
.texttone {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.textttwo {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
.texttthree {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}
.li__btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background: #295093;
  border-radius: 5px;
  position: absolute;
  width: 211px;
  height: 42px;
  border: none;
}
.li__btn:hover{
  background-color: #fff;
  color: #295091;
  border: #295093 solid 1.5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.list__li {
  margin-top: -15px;
  margin-left: 300px;
}
h2 {
  padding-top: 16px;
  text-align: center;
}
.li--text {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.solid {
  width: 346px;
  height: 4px;
  left: 953px;
  top: 1394px;
  background: #e4e4e4;
padding-left: 20px; 
}
.data {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 14px;
  color: #7688a4;
}
.list--img{
  padding-top: 75px;
}
.title{
  width: 1200px;
height: 214px;
background: #F6F6F9;
border-radius: 5px;
margin-top: 40px;

}
.title__ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list---ul{
  width: 526px;
}
.vsegdo{
  font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #295093;

}
.namanganliklar{
  font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #333333;
}
/*====================================== footr ===============================*/

footer{
  width: 100%;
  height: 225px; 
  background: #295093;
}
.footer__btn{
  background: #133C82;
border-radius: 5px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
width: 194px;
height: 38px;
position: absolute;
left: 80px;
top: 2936px;
border: none;
}
.footer__btn:hover{
  color:#295093;
  background-color: #fff;
  border: #295093 solid 1.5px;
}
.footer__text{
  position: absolute;
width: 666px;
height: 19px;
left: 450px;
top: 2946px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.footer--btn{
  position: absolute;
width: 132px;
height: 38px;
left: 1145px;
top: 2936px;
background: #FFFFFF;
border-radius: 5px;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #295093;
border: none;
}
.footer--btn:hover{
  color: #F6F6F9;
  background-color: rgb(8, 8, 8);
}
hr{
  position: absolute;
width: 1200px;
height: 3px;
left: 80px;
top: 2995px;
background: #133C82;
border: none;
}
.footer__titleone{
  position: absolute;
width: 365px;
height: 121px;
left: 80px;
top: 3005px;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.footer__titlatwo{
  position: absolute;
width: 163px;
height: 106px;
left: 560px;
top: 3005px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.footer__titlethree{
  position: absolute;
width: 225px;
height: 106px;
left: 800px;
top: 3005px;
  font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;

}